.people {
  vertical-align: middle;
  float: left;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 1px;
  width: 10px;
}


.active_agents_txt{
  margin-top: 10px;
  margin-bottom: 15px;
}

.cloudIcon {
  vertical-align: middle;
}

.chat {
  border-style: solid;
  border-width: 1px;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat::-webkit-scrollbar {
  background: white;
  border-radius: 4px;
  width: 8px;
}

.chat::-webkit-scrollbar-thumb {
  background: lightskyblue;
  border-radius: 4px;
}

.online_icon{
  margin-right: 5px;
}

.sendButton {
  background-color: white;
  height: 34px;
  width: 35px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.sendIcon {
  font-size: 20px;
}

.head_of_sms {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  position: relative;
}

.title {
  vertical-align: middle;
}

.details_div {
  font-size: 10px;
}

.textBar {
  border-style: solid;
  border-width: 1px;
  overflow:auto;
  display: flex;
  width:auto;
  align-self: center;
}

.textBar::-webkit-scrollbar {
  display: none;
}

.textMessage {
  margin-left: 5px;
  margin-top: 13px;
  overflow-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  width: 100%;
}

.textMessage::-webkit-scrollbar {
  display: none;
}

.date {
  float: right;
  font-size: 8px;
  margin-right: 25px;
}

.responseDate {
  float: left;
  font-size: 8px;
  margin-left: 25px;
}

p {
  clear: both;
}

.myMessage {
	position: relative;
	max-width: 60%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  overflow-wrap: break-word;

	background-color: lightskyblue;
	padding: 15px 15px;
	font-size: 10px;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.response {
	max-width: 60%;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  overflow-wrap: break-word;
	background-color: #fff;
	padding: 15px 15px;
	font-size: 10px;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.viewResizeImage {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.collapseLabel {
  margin-left: 10px;
  color: #333333;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.collapse {
  background-color: #f4f5fb !important;
  width: 100% !important;
  margin-top: 0px !important;
  border: 1px solid #939598 !important;
  font-family: Arial;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 12.6px;
  display: block;
  margin: 4px 5% 0 0px;
}

.collapseDisplay {
  margin-bottom: 8px;
  display: grid;
  background-color: #ffffff;
}

.callBody {
    border: 1px solid #939598;
    border-top-color: rgb(147, 149, 152);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0;
    position: relative;
    display: block;
}

.editorFullDisplay {
  font-size: 0.9em;
  width: 100%;
  text-align: left;
  font-family: Arial;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
